body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.description {
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 1rem;
    border-bottom: 1px solid #b9b7b7;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

.project {
    display: inline;
    margin: 2em 6em;
    padding: 3em 6em;
    border-radius: 5px;
    width: 200px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h3 {
    margin: 0.5rem 0;
}

.project a {
    display: block;
    margin-top: 0.5rem;
    color: #333;
    text-decoration: none;
}
